<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SCLedEnergySaver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D0A42B81BD962FF0045D166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D0A42CC1BD962FF0045D166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D0A42D71BD962FF0045D166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
